MasterPages/schema/madcap-schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="html">
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="description"/>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditionTagExpression"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
      <optional>
        <attribute name="MadCap:fileTags"/>
      </optional>
      <optional>
        <attribute name="MadCap:lastBlockDepth">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:lastHeight">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:lastWidth">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:onlyLocalStylesheets">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:searchable"/>
      </optional>
      <optional>
        <attribute name="MadCap:snippetVariables"/>
      </optional>
      <optional>
        <ref name="MadCap.change"/>
      </optional>
      <ref name="head"/>
      <ref name="body"/>
    </element>
  </start>
  <define name="MadCap.change">
    <element name="MadCap:change">
      <attribute name="MadCap:changes">
        <data type="integer"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="head">
    <element name="head">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="head"/>
          <element name="link">
            <attribute name="href">
              <data type="anyURI"/>
            </attribute>
            <attribute name="rel">
              <data type="NCName"/>
            </attribute>
            <optional>
              <attribute name="type"/>
            </optional>
            <optional>
              <attribute name="MadCap:stylesheetType">
                <data type="NCName"/>
              </attribute>
            </optional>
          </element>
          <element name="meta">
            <attribute name="content"/>
            <attribute name="name">
              <data type="NMTOKEN"/>
            </attribute>
          </element>
          <element name="style">
            <text/>
          </element>
          <element name="title">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="MadCap.variable"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="MadCap:changeData">
            <oneOrMore>
              <choice>
                <element name="MadCap:AddChange">
                  <attribute name="MadCap:id">
                    <data type="integer"/>
                  </attribute>
                  <attribute name="MadCap:initials">
                    <data type="NCName"/>
                  </attribute>
                  <attribute name="MadCap:timestamp"/>
                  <attribute name="MadCap:userName"/>
                </element>
                <element name="MadCap:RemoveChange">
                  <attribute name="MadCap:id">
                    <data type="integer"/>
                  </attribute>
                  <attribute name="MadCap:initials">
                    <data type="NCName"/>
                  </attribute>
                  <attribute name="MadCap:timestamp"/>
                  <attribute name="MadCap:userName"/>
                </element>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="body">
    <element name="body">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.codeSnippet"/>
          <ref name="MadCap.dropDown"/>
          <ref name="MadCap.snippetBlock"/>
          <ref name="MadCap.xref"/>
          <ref name="a"/>
          <ref name="blockquote"/>
          <ref name="body"/>
          <ref name="br"/>
          <ref name="div"/>
          <ref name="dl"/>
          <ref name="figure"/>
          <ref name="h1"/>
          <ref name="h2"/>
          <ref name="h3"/>
          <ref name="h4"/>
          <ref name="h5"/>
          <ref name="hr"/>
          <ref name="img"/>
          <ref name="li"/>
          <ref name="ol"/>
          <ref name="p"/>
          <ref name="pre"/>
          <ref name="span"/>
          <ref name="table"/>
          <ref name="ul"/>
          <element name="H2">
            <text/>
          </element>
          <element name="MadCap:glossaryProxy">
            <attribute name="style"/>
          </element>
          <element name="MadCap:microContent">
            <attribute name="id">
              <data type="NCName"/>
            </attribute>
            <optional>
              <ref name="h1"/>
            </optional>
            <oneOrMore>
              <choice>
                <ref name="MadCap.snippetBlock"/>
                <ref name="h2"/>
                <ref name="ol"/>
                <ref name="p"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="MadCap.variable">
    <element name="MadCap:variable">
      <attribute name="name"/>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="MadCap:changes">
          <data type="integer"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.change"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="img">
    <element name="img">
      <optional>
        <attribute name="alt"/>
      </optional>
      <optional>
        <attribute name="alt_text"/>
      </optional>
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="height">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id"/>
      </optional>
      <attribute name="src"/>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="title"/>
      </optional>
      <optional>
        <attribute name="width">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
      <optional>
        <attribute name="MadCap:mediastyle"/>
      </optional>
      <optional>
        <attribute name="MadCap:targetName"/>
      </optional>
    </element>
  </define>
  <define name="dl">
    <element name="dl">
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <element name="dd">
            <optional>
              <attribute name="style"/>
            </optional>
            <optional>
              <attribute name="MadCap:conditions">
                <data type="NCName"/>
              </attribute>
            </optional>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="MadCap.variable"/>
                <ref name="MadCap.xref"/>
                <ref name="a"/>
                <ref name="ol"/>
                <ref name="p"/>
                <ref name="span"/>
                <ref name="ul"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="dt">
            <optional>
              <attribute name="style"/>
            </optional>
            <optional>
              <attribute name="MadCap:conditions">
                <data type="NCName"/>
              </attribute>
            </optional>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="MadCap.variable"/>
                <ref name="MadCap.xref"/>
                <ref name="a"/>
                <ref name="h2"/>
                <ref name="h4"/>
                <ref name="img"/>
                <ref name="p"/>
                <ref name="span"/>
                <ref name="table"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
      <optional>
        <ref name="p"/>
        <ref name="ul"/>
      </optional>
    </element>
  </define>
  <define name="h1">
    <element name="h1">
      <optional>
        <attribute name="class">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.annotation"/>
          <ref name="MadCap.variable"/>
          <ref name="a"/>
          <ref name="span"/>
          <element name="MadCap:concept">
            <attribute name="term">
              <data type="NCName"/>
            </attribute>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="MadCap.xref">
    <element name="MadCap:xref">
      <optional>
        <attribute name="alt"/>
      </optional>
      <optional>
        <attribute name="data-test">
          <data type="NCName"/>
        </attribute>
      </optional>
      <attribute name="href"/>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="target">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="title"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.change"/>
          <ref name="MadCap.variable"/>
          <ref name="MadCap.xref"/>
          <ref name="a"/>
          <ref name="br"/>
          <ref name="li"/>
          <ref name="span"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="h2">
    <element name="h2">
      <optional>
        <attribute name="class">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="MadCap:changes">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
      <optional>
        <attribute name="MadCap:targetName">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.annotation"/>
          <ref name="MadCap.change"/>
          <ref name="MadCap.variable"/>
          <ref name="a"/>
          <ref name="br"/>
          <ref name="span"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="hr">
    <element name="hr">
      <empty/>
    </element>
  </define>
  <define name="h3">
    <element name="h3">
      <optional>
        <attribute name="class">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.annotation"/>
          <ref name="MadCap.variable"/>
          <ref name="a"/>
          <ref name="br"/>
          <ref name="code"/>
          <ref name="img"/>
          <ref name="span"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="h4">
    <element name="h4">
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.dropDownHotspot"/>
          <ref name="MadCap.variable"/>
          <ref name="a"/>
          <ref name="br"/>
          <ref name="code"/>
          <ref name="span"/>
          <ref name="u"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="h5">
    <element name="h5">
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.variable"/>
          <ref name="a"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="div">
    <element name="div">
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="data-content-id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="data-tabs-content">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="data-test">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="translate">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:Conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
      <optional>
        <attribute name="MadCap:targetName">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.codeSnippet"/>
          <ref name="MadCap.dropDown"/>
          <ref name="MadCap.snippetBlock"/>
          <ref name="MadCap.snippetText"/>
          <ref name="MadCap.toggler"/>
          <ref name="MadCap.variable"/>
          <ref name="MadCap.xref"/>
          <ref name="a"/>
          <ref name="blockquote"/>
          <ref name="br"/>
          <ref name="div"/>
          <ref name="dl"/>
          <ref name="figure"/>
          <ref name="h1"/>
          <ref name="h2"/>
          <ref name="h3"/>
          <ref name="h4"/>
          <ref name="h5"/>
          <ref name="hr"/>
          <ref name="img"/>
          <ref name="li"/>
          <ref name="ol"/>
          <ref name="p"/>
          <ref name="pre"/>
          <ref name="span"/>
          <ref name="table"/>
          <ref name="tr"/>
          <ref name="ul"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="br">
    <element name="br">
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="ul">
    <element name="ul">
      <optional>
        <attribute name="class">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="data-deep-link">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="data-tabs">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="data-test">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="start">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
      <optional>
        <attribute name="MadCap:continue">
          <data type="boolean"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.snippetBlock"/>
          <ref name="br"/>
          <ref name="div"/>
          <ref name="h4"/>
          <ref name="li"/>
          <ref name="ol"/>
          <ref name="p"/>
          <ref name="span"/>
          <ref name="table"/>
          <ref name="ul"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="MadCap.snippetBlock">
    <element name="MadCap:snippetBlock">
      <attribute name="src"/>
      <optional>
        <attribute name="MadCap:conditionTagExpression"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
      <optional>
        <attribute name="MadCap:snippetVariables"/>
      </optional>
      <optional>
        <attribute name="MadCap:targetName">
          <data type="NCName"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <optional>
        <attribute name="align">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="colspan">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="data-test">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rowspan">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="src"/>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="width"/>
      </optional>
      <optional>
        <attribute name="MadCap:changes">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
      <optional>
        <attribute name="MadCap:targetName">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">space</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.annotation"/>
          <ref name="MadCap.change"/>
          <ref name="MadCap.codeSnippet"/>
          <ref name="MadCap.conditionalText"/>
          <ref name="MadCap.snippetBlock"/>
          <ref name="MadCap.snippetText"/>
          <ref name="MadCap.toggler"/>
          <ref name="MadCap.variable"/>
          <ref name="MadCap.xref"/>
          <ref name="a"/>
          <ref name="b"/>
          <ref name="blockquote"/>
          <ref name="br"/>
          <ref name="cite"/>
          <ref name="code"/>
          <ref name="div"/>
          <ref name="dl"/>
          <ref name="em"/>
          <ref name="font"/>
          <ref name="h2"/>
          <ref name="h3"/>
          <ref name="h4"/>
          <ref name="i"/>
          <ref name="img"/>
          <ref name="li"/>
          <ref name="ol"/>
          <ref name="p"/>
          <ref name="pre"/>
          <ref name="samp"/>
          <ref name="span"/>
          <ref name="strong"/>
          <ref name="sup"/>
          <ref name="table"/>
          <ref name="u"/>
          <ref name="ul"/>
          <ref name="var"/>
          <ref name="variable"/>
          <element name="object">
            <attribute name="src">
              <data type="anyURI"/>
            </attribute>
            <attribute name="style"/>
          </element>
          <element name="temp">
            <text/>
          </element>
          <element name="tt">
            <data type="NCName"/>
          </element>
          <element name="MadCap:glossaryTerm">
            <attribute name="glossTerm">
              <data type="NCName"/>
            </attribute>
            <data type="NCName"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ol">
    <element name="ol">
      <optional>
        <attribute name="class">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="start">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:continue">
          <data type="boolean"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.dropDown"/>
          <ref name="MadCap.snippetBlock"/>
          <ref name="a"/>
          <ref name="br"/>
          <ref name="div"/>
          <ref name="dl"/>
          <ref name="h3"/>
          <ref name="h4"/>
          <ref name="img"/>
          <ref name="li"/>
          <ref name="ol"/>
          <ref name="p"/>
          <ref name="pre"/>
          <ref name="span"/>
          <ref name="table"/>
          <ref name="ul"/>
          <element name="P">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="table">
    <element name="table">
      <optional>
        <attribute name="align">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="border">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="cellpadding">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="cellspacing">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="class">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="height">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="width"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
      <optional>
        <ref name="h3"/>
      </optional>
      <optional>
        <element name="colgroup">
          <oneOrMore>
            <ref name="col"/>
          </oneOrMore>
        </element>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="col"/>
          <ref name="tr"/>
          <element name="tbody">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="tr"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="thead">
            <oneOrMore>
              <ref name="tr"/>
            </oneOrMore>
          </element>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="a">
    <element name="a">
      <optional>
        <attribute name="alt">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="aria-selected">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="data-test">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="href">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id"/>
      </optional>
      <optional>
        <attribute name="name"/>
      </optional>
      <optional>
        <attribute name="rel">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="target">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="title">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.variable"/>
          <ref name="MadCap.xref"/>
          <ref name="a"/>
          <ref name="br"/>
          <ref name="img"/>
          <ref name="span"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="blockquote">
    <element name="blockquote">
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.variable"/>
          <ref name="a"/>
          <ref name="h2"/>
          <ref name="h3"/>
          <ref name="ol"/>
          <ref name="p"/>
          <ref name="pre"/>
          <ref name="span"/>
          <ref name="table"/>
          <ref name="ul"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="figure">
    <element name="figure">
      <attribute name="style"/>
      <ref name="img"/>
      <element name="figcaption">
        <optional>
          <attribute name="style"/>
        </optional>
        <text/>
      </element>
    </element>
  </define>
  <define name="pre">
    <element name="pre">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">space</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="code"/>
          <ref name="span"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="MadCap.codeSnippet">
    <element name="MadCap:codeSnippet">
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <element name="MadCap:codeSnippetCopyButton">
        <optional>
          <attribute name="MadCap:conditions">
            <data type="NCName"/>
          </attribute>
        </optional>
      </element>
      <optional>
        <element name="MadCap:codeSnippetCaption">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="p"/>
            </choice>
          </oneOrMore>
        </element>
      </optional>
      <element name="MadCap:codeSnippetBody">
        <optional>
          <attribute name="style"/>
        </optional>
        <attribute name="MadCap:continue">
          <data type="NCName"/>
        </attribute>
        <attribute name="MadCap:lineNumberStart">
          <data type="integer"/>
        </attribute>
        <attribute name="MadCap:useLineNumbers">
          <data type="NCName"/>
        </attribute>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">space</name>
          <data type="NCName"/>
        </attribute>
        <text/>
      </element>
    </element>
  </define>
  <define name="MadCap.dropDown">
    <element name="MadCap:dropDown">
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="p"/>
          <element name="MadCap:dropDownBody">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="MadCap.codeSnippet"/>
                <ref name="MadCap.dropDown"/>
                <ref name="MadCap.snippetBlock"/>
                <ref name="MadCap.xref"/>
                <ref name="a"/>
                <ref name="blockquote"/>
                <ref name="br"/>
                <ref name="div"/>
                <ref name="h3"/>
                <ref name="h4"/>
                <ref name="img"/>
                <ref name="ol"/>
                <ref name="p"/>
                <ref name="span"/>
                <ref name="table"/>
                <ref name="ul"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="MadCap:dropDownHead">
            <oneOrMore>
              <ref name="MadCap.dropDownHotspot"/>
            </oneOrMore>
            <optional>
              <ref name="MadCap.conditionalText"/>
            </optional>
          </element>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="li">
    <element name="li">
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="colspan">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="data-test">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="start">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="width"/>
      </optional>
      <optional>
        <attribute name="MadCap:changes">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.annotation"/>
          <ref name="MadCap.change"/>
          <ref name="MadCap.codeSnippet"/>
          <ref name="MadCap.dropDown"/>
          <ref name="MadCap.snippetBlock"/>
          <ref name="MadCap.snippetText"/>
          <ref name="MadCap.toggler"/>
          <ref name="MadCap.variable"/>
          <ref name="MadCap.xref"/>
          <ref name="a"/>
          <ref name="b"/>
          <ref name="blockquote"/>
          <ref name="br"/>
          <ref name="code"/>
          <ref name="div"/>
          <ref name="dl"/>
          <ref name="em"/>
          <ref name="font"/>
          <ref name="h2"/>
          <ref name="h3"/>
          <ref name="h4"/>
          <ref name="h5"/>
          <ref name="i"/>
          <ref name="img"/>
          <ref name="li"/>
          <ref name="ol"/>
          <ref name="p"/>
          <ref name="pre"/>
          <ref name="samp"/>
          <ref name="span"/>
          <ref name="strong"/>
          <ref name="table"/>
          <ref name="u"/>
          <ref name="ul"/>
          <ref name="var"/>
          <element name="MadCap:popup">
            <element name="MadCap:popupHead">
              <text/>
            </element>
            <element name="MadCap:popupBody">
              <text/>
            </element>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="span">
    <element name="span">
      <optional>
        <attribute name="clas">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="href">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="MadCap:comment"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="MadCap:createDate"/>
      </optional>
      <optional>
        <attribute name="MadCap:creator"/>
      </optional>
      <optional>
        <attribute name="MadCap:editDate"/>
      </optional>
      <optional>
        <attribute name="MadCap:editor"/>
      </optional>
      <optional>
        <attribute name="MadCap:initials">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">space</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.annotation"/>
          <ref name="MadCap.footnote"/>
          <ref name="MadCap.snippetText"/>
          <ref name="MadCap.variable"/>
          <ref name="MadCap.xref"/>
          <ref name="a"/>
          <ref name="br"/>
          <ref name="code"/>
          <ref name="font"/>
          <ref name="i"/>
          <ref name="p"/>
          <ref name="span"/>
          <ref name="u"/>
          <ref name="var"/>
          <ref name="variable"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="MadCap.annotation">
    <element name="MadCap:annotation">
      <optional>
        <attribute name="MadCap:comment"/>
      </optional>
      <optional>
        <attribute name="MadCap:createDate"/>
      </optional>
      <optional>
        <attribute name="MadCap:creator"/>
      </optional>
      <optional>
        <attribute name="MadCap:editDate"/>
      </optional>
      <optional>
        <attribute name="MadCap:editor"/>
      </optional>
      <optional>
        <attribute name="MadCap:initials">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.annotation"/>
          <ref name="MadCap.variable"/>
          <ref name="MadCap.xref"/>
          <ref name="a"/>
          <ref name="br"/>
          <ref name="img"/>
          <ref name="span"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="code">
    <element name="code">
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="span"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="u">
    <element name="u">
      <optional>
        <attribute name="style"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="MadCap.dropDownHotspot">
    <element name="MadCap:dropDownHotspot">
      <optional>
        <attribute name="style"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.annotation"/>
          <ref name="MadCap.conditionalText"/>
          <ref name="MadCap.variable"/>
          <ref name="a"/>
          <ref name="code"/>
          <ref name="span"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="MadCap.toggler">
    <element name="MadCap:toggler">
      <optional>
        <attribute name="style"/>
      </optional>
      <attribute name="targets"/>
      <text/>
    </element>
  </define>
  <define name="MadCap.snippetText">
    <element name="MadCap:snippetText">
      <attribute name="src"/>
      <optional>
        <attribute name="MadCap:conditions">
          <data type="NCName"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="tr">
    <element name="tr">
      <optional>
        <attribute name="align">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="class">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <element name="td">
            <optional>
              <attribute name="align">
                <data type="NCName"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="class"/>
            </optional>
            <optional>
              <attribute name="colspan">
                <data type="integer"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="id">
                <data type="NCName"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="rowspan">
                <data type="integer"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="style"/>
            </optional>
            <optional>
              <attribute name="width"/>
            </optional>
            <optional>
              <attribute name="MadCap:conditions">
                <data type="NCName"/>
              </attribute>
            </optional>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="MadCap.annotation"/>
                <ref name="MadCap.change"/>
                <ref name="MadCap.codeSnippet"/>
                <ref name="MadCap.conditionalText"/>
                <ref name="MadCap.footnote"/>
                <ref name="MadCap.snippetBlock"/>
                <ref name="MadCap.snippetText"/>
                <ref name="MadCap.variable"/>
                <ref name="MadCap.xref"/>
                <ref name="a"/>
                <ref name="blockquote"/>
                <ref name="br"/>
                <ref name="cite"/>
                <ref name="code"/>
                <ref name="div"/>
                <ref name="dl"/>
                <ref name="h1"/>
                <ref name="h3"/>
                <ref name="h4"/>
                <ref name="h5"/>
                <ref name="i"/>
                <ref name="img"/>
                <ref name="li"/>
                <ref name="ol"/>
                <ref name="p"/>
                <ref name="pre"/>
                <ref name="span"/>
                <ref name="sup"/>
                <ref name="table"/>
                <ref name="ul"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="th">
            <optional>
              <attribute name="class"/>
            </optional>
            <optional>
              <attribute name="colspan">
                <data type="integer"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="rowspan">
                <data type="integer"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="scope">
                <data type="NCName"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="style"/>
            </optional>
            <optional>
              <attribute name="MadCap:conditions">
                <data type="NCName"/>
              </attribute>
            </optional>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="MadCap.annotation"/>
                <ref name="MadCap.footnote"/>
                <ref name="MadCap.variable"/>
                <ref name="br"/>
                <ref name="div"/>
                <ref name="p"/>
                <ref name="span"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="strong">
    <element name="strong">
      <attribute name="style"/>
      <text/>
    </element>
  </define>
  <define name="samp">
    <element name="samp">
      <text/>
    </element>
  </define>
  <define name="sup">
    <element name="sup">
      <text/>
    </element>
  </define>
  <define name="b">
    <element name="b">
      <text/>
    </element>
  </define>
  <define name="var">
    <element name="var">
      <data type="NCName"/>
    </element>
  </define>
  <define name="em">
    <element name="em">
      <optional>
        <attribute name="style"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="i">
    <element name="i">
      <optional>
        <attribute name="style"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="span"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="MadCap.conditionalText">
    <element name="MadCap:conditionalText">
      <attribute name="MadCap:conditions">
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.dropDownHotspot"/>
          <ref name="a"/>
          <ref name="i"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="variable">
    <element name="variable">
      <attribute name="name">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="cite">
    <element name="cite">
      <text/>
    </element>
  </define>
  <define name="font">
    <element name="font">
      <optional>
        <attribute name="color">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="face">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="br"/>
          <ref name="font"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="col">
    <element name="col">
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="width"/>
      </optional>
      <optional>
        <attribute name="MadCap:conditions"/>
      </optional>
    </element>
  </define>
  <define name="MadCap.footnote">
    <element name="MadCap:footnote">
      <attribute name="style"/>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="MadCap.xref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
